In [4]:
import pandas as pd
import json

In [6]:

with open('Spotify Account Data/Playlist1.json', 'r') as f:
    data = json.load(f)

playlists = data["playlists"]

df_playlists = pd.json_normalize(
    playlists,
    record_path=['items'],
    meta=['name', 'lastModifiedDate', 'description', 'numberOfFollowers'], 
    errors='ignore'
)

df_playlists

,track,audiobook,localTrack,addedDate,episode.episodeName,episode.showName,episode.episodeUri,episode,track.trackName,track.artistName,track.albumName,track.trackUri,name,lastModifiedDate,description,numberOfFollowers
0,NaN,None,None,2023-10-12,109. Simplify! How to Communicate Complex Idea...,Think Fast Talk Smart: Communication Techniques,spotify:episode:22i1PrlmzCHP8zYsiAgi1V,NaN,NaN,NaN,NaN,NaN,Podcastss,2023-10-12,None,0
1,NaN,None,None,2023-03-29,NaN,NaN,NaN,NaN,Konjam -1,Armaan Malik,M.S.Dhoni - The Untold Story,spotify:track:6FMejF2EAWQlgGBRNyptbg,-ALL-,2025-11-10,None,0
2,NaN,None,None,2023-03-29,NaN,NaN,NaN,NaN,Somebody To You,The Vamps,Meet The Vamps,spotify:track:6VrLYoQKdhu1Jruei06t65,-ALL-,2025-11-10,None,0
3,NaN,None,None,2023-03-29,NaN,NaN,NaN,NaN,"Kaadhal En Kaviye - From ""Salmon 3D""",Sid Sriram,Kaadhal En Kaviye,spotify:track:6XYQvYJzHjK5150Vl7NKfJ,-ALL-,2025-11-10,None,0
4,NaN,None,None,2023-03-29,NaN,NaN,NaN,NaN,"Mudhal Nee Mudivum Nee Title Track (From ""Mudh...",Darbuka Siva,Mudhal Nee Mudivum Nee Title Track,spotify:track:1AzNN19lPYC68iacrbWL8X,-ALL-,2025-11-10,None,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,NaN,None,None,2025-08-04,NaN,NaN,NaN,NaN,Yeya En Kottikkaaraa,Ghibran,Papanasam,spotify:track:5spvSwBVAMvvNseq7SnrDa,-ALL-,2025-11-10,None,0
117,NaN,None,None,2025-08-22,NaN,NaN,NaN,NaN,"Engleesu Lovesu - From ""Pakkiri",Amit Trivedi,Engleesu Lovesu,spotify:track:19HzAQ7UmMY97uBVAA2bgJ,-ALL-,2025-11-10,None,0
118,NaN,None,None,2025-09-27,NaN,NaN,NaN,NaN,Ennavale Adi Ennavale,Unnikrishnan,Kaadhalan,spotify:track:3lrXYLTJPCJcFd3ZnBB74X,-ALL-,2025-11-10,None,0
119,NaN,None,None,2025-10-28,NaN,NaN,NaN,NaN,Avalum Naanum,Vijay Yesudas,Achcham Yenbadhu Madamaiyada,spotify:track:3cbNkWW8PShnP2CexDqOCP,-ALL-,2025-11-10,None,0
120,NaN,None,None,2025-11-06,NaN,NaN,NaN,NaN,Rasaali,Sathyaprakash,Achcham Yenbadhu Madamaiyada,spotify:track:4ymjOYfSLXBtoVu1H1WZla,-ALL-,2025-11-10,None,0

In [9]:
with open('Spotify Account Data/YourSoundCapsule.json', 'r') as f:
    data = json.load(f)

stats = data["stats"]

# --------------------------------------
# DAILY SUMMARY
# --------------------------------------
df_daily = pd.DataFrame(stats)


# --------------------------------------
# TOP TRACKS (with metadata prefix)
# --------------------------------------
df_top_tracks = pd.json_normalize(
    stats,
    record_path="topTracks",
    meta=["date", "streamCount", "secondsPlayed"],
    meta_prefix="day_"
)

display(df_top_tracks)

# --------------------------------------
# TOP ARTISTS (with metadata prefix)
# --------------------------------------
df_top_artists = pd.json_normalize(
    stats,
    record_path="topArtists",
    meta=["date", "streamCount", "secondsPlayed"],
    meta_prefix="day_"
)

display(df_top_artists)

# --------------------------------------
# TOP GENRES
# --------------------------------------
df_top_genres = pd.json_normalize(
    stats,
    record_path="topGenres",
    meta=["date", "streamCount", "secondsPlayed"],
    meta_prefix="day_"
)

display(df_top_genres)

,name,streamCount,secondsPlayed,day_date,day_streamCount,day_secondsPlayed
0,Yaarumillaa - Tamil,3,484,2025-11-03,0,0
1,Rasaali,1,338,2025-11-03,0,0
2,Kaattumalli,1,306,2025-11-03,0,0
3,"Yaaraiyum Ivlo Azhaga (From ""SULTHAN"")",1,298,2025-11-03,0,0
4,Dandelions - slowed + reverb,1,268,2025-11-03,0,0
...,...,...,...,...,...,...
125,happier,4,700,2024-12,329,70600
126,good 4 u,4,695,2024-12,329,70600
127,"1 step forward, 3 steps back",4,652,2024-12,329,70600
128,"All I Want - From ""High School Musical: The Mu...",4,613,2024-12,329,70600
129,bad idea right?,4,519,2024-12,329,70600

,name,streamCount,secondsPlayed,day_date,day_streamCount,day_secondsPlayed
0,Sid Sriram,5,911,2025-11-03,0,0
1,Olivia Rodrigo,3,607,2025-11-03,0,0
2,Radhan,3,484,2025-11-03,0,0
3,Ghibran,2,337,2025-11-03,0,0
4,Sathyaprakash,1,338,2025-11-03,0,0
...,...,...,...,...,...,...
125,Yuvan Shankar Raja,11,2533,2024-12,329,70600
126,Dhibu Ninan Thomas,10,2485,2024-12,329,70600
127,A.R. Rahman,8,2009,2024-12,329,70600
128,Hiphop Tamizha,6,1433,2024-12,329,70600
129,Sean Roldan,6,1354,2024-12,329,70600

,name,streamCount,secondsPlayed,day_date,day_streamCount,day_secondsPlayed
0,pop,65,12406,2025-10,262,55026
1,american pop,25,4834,2025-10,262,55026
2,roots,20,4040,2025-10,262,55026
3,uk pop,7,1694,2025-10,262,55026
4,art pop,5,1277,2025-10,262,55026
...,...,...,...,...,...,...
95,bubblegum pop,9,1432,2024-12,329,70600
96,mellow pop,5,1177,2024-12,329,70600
97,uk pop,5,894,2024-12,329,70600
98,new beat,3,769,2024-12,329,70600
99,american pop,4,650,2024-12,329,70600

In [20]:
df_top_tracks.sort_values(by='streamCount', ascending=False).head(5)

,name,streamCount,secondsPlayed,day_date,day_streamCount,day_secondsPlayed
70,Nallai Allai,14,3584,2025-05,752,168018
30,Arabu Naadu,11,3505,2025-09,427,90244
80,drivers license,11,2414,2025-04,974,212278
81,happier,11,1927,2025-04,974,212278
50,Minnalvala,11,3255,2025-07,966,221091

In [28]:
d=df_top_tracks.duplicated(subset=['streamCount','name']).sum()
d

np.int64(9)

In [47]:
dupes=df_top_tracks[df_top_tracks['name'].duplicated(keep=False)]
print(dupes)
# this shows that there are duplicated names.

                                                  name  streamCount  \
0                                  Yaarumillaa - Tamil            3
7                                             Mallipoo            1
8                                      drivers license            1
9                                    Thaarame Thaarame            1
14                                            Mallipoo            1
..                                                 ...          ...
123                                     enough for you            4
124                                            vampire            4
125                                            happier            4
127                       1 step forward, 3 steps back            4
128  All I Want - From "High School Musical: The Mu...            4

     secondsPlayed    day_date day_streamCount day_secondsPlayed
0              484  2025-11-03               0                 0
7              245  2025-11-03               0                 0
8              242  2025-11-03               0                 0
9              228  2025-11-03               0                 0
14             245  2025-10-20               0                 0
..             ...         ...             ...               ...
123            808     2024-12             329             70600
124            732     2024-12             329             70600
125            700     2024-12             329             70600
127            652     2024-12             329             70600
128            613     2024-12             329             70600

[61 rows x 6 columns]

In [44]:
df_grouped_track=df_top_tracks.groupby('name',as_index=False)['streamCount'].sum()
df_grouped_track.sort_values(by='streamCount',ascending=False)

                                                 name  streamCount
6                                         Arabu Naadu           23
43                                       Nallai Allai           22
77                                Yaarumillaa - Tamil           22
84                                            happier           21
3   All I Want - From "High School Musical: The Mu...           19
..                                                ...          ...
36                                         Mandaarame            1
39                                        Mockingbird            1
61                                    Standing By you            1
76             Yaaraiyum Ivlo Azhaga (From "SULTHAN")            1
85          i hate u, i love u (feat. olivia o'brien)            1

[92 rows x 2 columns]

In [70]:
df_grouped_track['name'].unique()

array(['1 step forward, 3 steps back',
       'Adiyae Azhagae - From "Oru Naal Koothu"',
       'Adiye - From "Bachelor"',
       'All I Want - From "High School Musical: The Musical: The Series"',
       'Anju Vanna Poove', 'Anju Vanna Poove (Reprise)', 'Arabu Naadu',
       'Arcade', 'Avalum Naanum', 'Azhagiye (From "Kaatru Veliyidai")',
       'Chillanjirukkiye (From "Lubber Pandhu")',
       'Chimmi Chimmi (from "Urumi")',
       'Chirapunji - From Saina Music Indie', 'Co2',
       'Dandelions - slowed + reverb', 'Dhimu Dhimu',
       'Engleesu Lovesu - From "Pakkiri', 'Enna Vilaiyazhagae',
       'Ennadi Maayavi Nee (From "VadaChennai")', 'Ennavale',
       'Ennodu Nee Irundhaal', 'Hey Minnale', 'Hey Penne',
       'If We Have Each Other', 'Illuminati', 'Iravingu Theevai',
       'Kaalathukkum Nee Venum - From "Vendhu Thanindhathu Kaadu"',
       'Kaattumalli', 'Kadhaippoma (From "Oh My Kadavule")',
       'Kadhal Kan Kattudhe (From "Kaaki Sattai")', 'Kan Irandil',
       'Kanave Unai', 'Katchi Sera - From "Think Indie"', 'Let Her Go',
       'Let Her Go (feat. Ed Sheeran) - Anniversary Edition', 'Mallipoo',
       'Mandaarame', 'Mazhai Kuruvi', 'Minnalvala', 'Mockingbird',
       'Moongil Thottam',
       'Mudhal Nee Mudivum Nee Title Track (From "Mudhal Nee Mudivum Nee")',
       'Muththa Mazhai', 'Nallai Allai',
       'Nallai Allai (From "Kaatru Veliyidai")', 'Neethanadi',
       'Nenjam Ellam', 'Nenjoramaa', 'Night Changes', 'Ninte Pinnale',
       'Oh Oh (From "Thanga Magan") - The First Love of Tamizh',
       'Ole Melody - From "Thallumaala"', 'Oorum Blood - From "Dude"',
       'Paththavaikkum (From "Devara Part 1")', 'Pehle Bhi Main',
       'Perfect', 'Po Indru Neeyaga (From "Velai Illa Pattadhaari")',
       'Poovukkul (From "Jeans")', 'Rasaali', 'Saarattu Vandiyila',
       'Sattru Munbu', 'Standing By you', 'TV', 'Teenage Dream',
       'Thaarame Thaarame', 'Thaensudare - From "Lover"', 'Thangamey',
       'Unakaga', 'Unakku Thaan - From "Chithha"',
       'Usure - From "Sivappu Manjal Pachai"',
       'Uyiril Thodum (From "Kumbalangi Nights")',
       'Vaa Senthaazhini - From "Adiyae"', 'Vidhi Nadhiyae', 'Visiri',
       'Vizhi Veekura - From "Think Indie"',
       'Yaanji - From "Vikram Vedha"',
       'Yaaraiyum Ivlo Azhaga (From "SULTHAN")', 'Yaarumillaa - Tamil',
       'Yeya En Kottikkaaraa', 'bad idea right?', 'blue',
       'drivers license', 'enough for you', 'good 4 u', 'happier',
       "i hate u, i love u (feat. olivia o'brien)", 'jealousy, jealousy',
       'logical', 'lovely (with Khalid)', 'obsessed', 'traitor',
       'vampire'], dtype=object)

In [53]:
#let us now check duplicates in artist name
df_top_artists

,name,streamCount,secondsPlayed,day_date,day_streamCount,day_secondsPlayed
0,Sid Sriram,5,911,2025-11-03,0,0
1,Olivia Rodrigo,3,607,2025-11-03,0,0
2,Radhan,3,484,2025-11-03,0,0
3,Ghibran,2,337,2025-11-03,0,0
4,Sathyaprakash,1,338,2025-11-03,0,0
...,...,...,...,...,...,...
125,Yuvan Shankar Raja,11,2533,2024-12,329,70600
126,Dhibu Ninan Thomas,10,2485,2024-12,329,70600
127,A.R. Rahman,8,2009,2024-12,329,70600
128,Hiphop Tamizha,6,1433,2024-12,329,70600
129,Sean Roldan,6,1354,2024-12,329,70600

In [ ]:
df_top_artists.duplicated(subset=['name'],keep=False).sum()
#if it returns >0 then there are duplicates

np.int64(105)

In [62]:
#let us group by the data
df_grouped_artists=df_top_artists.groupby('name',as_index=False)['streamCount'].sum()
df_grouped_artists.sort_values('streamCount',ascending=False).head(5)

                   name  streamCount
2   Anirudh Ravichander          564
36           Sid Sriram          564
26       Olivia Rodrigo          521
0           A.R. Rahman          495
33   Santhosh Narayanan          288

In [65]:
df_grouped_artists.duplicated(subset=['name'],keep=False).sum()
#recheck for duplicates

np.int64(0)

In [71]:
df_grouped_artists['name'].unique()

array(['A.R. Rahman', 'A.R. Reihana', 'Anirudh Ravichander', 'Arun Raj',
       'Billie Eilish', 'Chinmayi', 'Darbuka Siva', 'Dhanush',
       'Dhibu Ninan Thomas', 'Disney', 'Ed Sheeran', 'Eminem',
       'G. V. Prakash', 'Ghibran', 'Haricharan', 'Harris Jayaraj',
       'Hiphop Tamizha', 'Ilaiyaraaja', 'Jakes Bejoy', 'Job Kurian',
       'Justin Prabhakaran', 'Justin Varghese', 'Karthik', 'Leon James',
       'Manjari', 'Nish', 'Olivia Rodrigo', 'Passenger', 'Pradeep Kumar',
       'Radhan', 'Ruth B.', 'Sai Abhyankkar', 'Santhosh Dhayanidhi',
       'Santhosh Narayanan', 'Sathyaprakash', 'Sean Roldan', 'Sid Sriram',
       'Siddhu Kumar', 'Silambarasan TR', 'Sushin Shyam',
       'Thishon Vijayamohan', 'Vishal Mishra', 'Vivek - Mervin',
       'Yuvan Shankar Raja', 'gnash'], dtype=object)

In [77]:
df_top_genres.duplicated(subset=['name'],keep=False).sum()

np.int64(93)

In [82]:
df_grouped_genre=df_top_genres.groupby('name',as_index=False)['streamCount'].sum()
df_grouped_genre.sort_values('streamCount',ascending=False).head(5)

            name  streamCount
18           pop         1076
8    dappankuthu          292
6          dance          195
1   american pop          188
20         roots          103

In [84]:
df_grouped_genre['name'].unique()

array(['acoustic pop', 'american pop', 'art pop', 'bedroom pop',
       'bollywood', 'bubblegum pop', 'dance', 'dance pop', 'dappankuthu',
       'desi hip hop', 'dream pop', 'happy pop', 'hindi pop', 'hip hop',
       'indie', 'k-pop', 'mellow pop', 'new beat', 'pop', 'rap', 'roots',
       'slow pop', 'teen pop', 'throwback pop', 'uk pop'], dtype=object)

In [102]:
df=df_playlists[df_playlists['name']== '-ALL-']
df[['track.trackName','track.artistName','track.albumName','addedDate','name']]

,track.trackName,track.artistName,track.albumName,addedDate,name
1,Konjam -1,Armaan Malik,M.S.Dhoni - The Untold Story,2023-03-29,-ALL-
2,Somebody To You,The Vamps,Meet The Vamps,2023-03-29,-ALL-
3,"Kaadhal En Kaviye - From ""Salmon 3D""",Sid Sriram,Kaadhal En Kaviye,2023-03-29,-ALL-
4,"Mudhal Nee Mudivum Nee Title Track (From ""Mudh...",Darbuka Siva,Mudhal Nee Mudivum Nee Title Track,2023-03-29,-ALL-
5,"Onakka Munthiri - From ""Hridayam""",Hesham Abdul Wahab,Onakka Munthiri,2023-03-29,-ALL-
...,...,...,...,...,...
116,Yeya En Kottikkaaraa,Ghibran,Papanasam,2025-08-04,-ALL-
117,"Engleesu Lovesu - From ""Pakkiri",Amit Trivedi,Engleesu Lovesu,2025-08-22,-ALL-
118,Ennavale Adi Ennavale,Unnikrishnan,Kaadhalan,2025-09-27,-ALL-
119,Avalum Naanum,Vijay Yesudas,Achcham Yenbadhu Madamaiyada,2025-10-28,-ALL-
120,Rasaali,Sathyaprakash,Achcham Yenbadhu Madamaiyada,2025-11-06,-ALL-

In [103]:
#df_playlists --- your custom playlists
#df_grouped_artists -- top artists
#df_grouped_genre --- top genre
#df_grouped_track ---top songs