In [4]:
import pandas as pd
import json

In [7]:
with open('Spotify Account Data/identifiers.json', 'r') as f:
    data = json.load(f)

df_identifiers = pd.DataFrame.from_dict(data, orient='index').T
df_identifiers

  identifierType         identifierValue
0          email  sachisun1005@gmail.com

In [11]:
with open('Spotify Account Data/identity.json', 'r') as f:
    data = json.load(f)

df_identity = pd.DataFrame.from_dict(data, orient='index').T
df_identity

  displayName firstName lastName imageUrl largeImageUrl tasteMaker verified
0                                                            False    False

In [13]:
with open('Spotify Account Data/inferences.json', 'r') as f:
    data = json.load(f)

df_inferences = pd.DataFrame.from_dict(data, orient='index').T
df_inferences

                                            inferences
0                     impressions-line_item-7047617229
1           1P_Custom_Tamil_Language_Content_Listeners
2                 1abf8bf5-b696-41e0-b439-f3244c2712cf
3    impressions-adset-cc726e0b-b80e-456a-8bf9-0436...
4                                 3P_Arts & Culture_FR
..                                                 ...
209  impressions-campaign-3c8599f3-4ccc-4d7c-874c-d...
210                                   demographic_male
211               dc13a274-d82e-403d-8d4f-2c4ba298ea6b
212                       impressions-order-3597114645
213                 1P_Custom_Workout_Moment_Listeners

[214 rows x 1 columns]

In [16]:
with open('Spotify Account Data/Marquee.json', 'r') as f:
    data = json.load(f)

df_marquee = pd.DataFrame(data)
df_marquee

                  artistName                      segment
0      Pushpavanam Kuppusamy  Previously Active Listeners
1           Ashwin Gopakumar  Previously Active Listeners
2                Jakes Bejoy  Previously Active Listeners
3                 Rehna Shaz  Previously Active Listeners
4                  Sam Smith  Previously Active Listeners
..                       ...                          ...
374                  Manjari              Light listeners
375              dilushselva  Previously Active Listeners
376           Vishal-Shekhar  Previously Active Listeners
377           Santhosh Varma  Previously Active Listeners
378  Harshavardhan Rameshwar  Previously Active Listeners

[379 rows x 2 columns]

In [21]:

with open('Spotify Account Data/Playlist1.json', 'r') as f:
    data = json.load(f)

playlists = data["playlists"]

df_playlists = pd.json_normalize(
    playlists,
    record_path=['items'],
    meta=['name', 'lastModifiedDate', 'description', 'numberOfFollowers'], 
    errors='ignore'
)

df_playlists

,track,audiobook,localTrack,addedDate,episode.episodeName,episode.showName,episode.episodeUri,episode,track.trackName,track.artistName,track.albumName,track.trackUri,name,lastModifiedDate,description,numberOfFollowers
0,NaN,None,None,2023-10-12,109. Simplify! How to Communicate Complex Idea...,Think Fast Talk Smart: Communication Techniques,spotify:episode:22i1PrlmzCHP8zYsiAgi1V,NaN,NaN,NaN,NaN,NaN,Podcastss,2023-10-12,None,0
1,NaN,None,None,2023-03-29,NaN,NaN,NaN,NaN,Konjam -1,Armaan Malik,M.S.Dhoni - The Untold Story,spotify:track:6FMejF2EAWQlgGBRNyptbg,-ALL-,2025-11-10,None,0
2,NaN,None,None,2023-03-29,NaN,NaN,NaN,NaN,Somebody To You,The Vamps,Meet The Vamps,spotify:track:6VrLYoQKdhu1Jruei06t65,-ALL-,2025-11-10,None,0
3,NaN,None,None,2023-03-29,NaN,NaN,NaN,NaN,"Kaadhal En Kaviye - From ""Salmon 3D""",Sid Sriram,Kaadhal En Kaviye,spotify:track:6XYQvYJzHjK5150Vl7NKfJ,-ALL-,2025-11-10,None,0
4,NaN,None,None,2023-03-29,NaN,NaN,NaN,NaN,"Mudhal Nee Mudivum Nee Title Track (From ""Mudh...",Darbuka Siva,Mudhal Nee Mudivum Nee Title Track,spotify:track:1AzNN19lPYC68iacrbWL8X,-ALL-,2025-11-10,None,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116,NaN,None,None,2025-08-04,NaN,NaN,NaN,NaN,Yeya En Kottikkaaraa,Ghibran,Papanasam,spotify:track:5spvSwBVAMvvNseq7SnrDa,-ALL-,2025-11-10,None,0
117,NaN,None,None,2025-08-22,NaN,NaN,NaN,NaN,"Engleesu Lovesu - From ""Pakkiri",Amit Trivedi,Engleesu Lovesu,spotify:track:19HzAQ7UmMY97uBVAA2bgJ,-ALL-,2025-11-10,None,0
118,NaN,None,None,2025-09-27,NaN,NaN,NaN,NaN,Ennavale Adi Ennavale,Unnikrishnan,Kaadhalan,spotify:track:3lrXYLTJPCJcFd3ZnBB74X,-ALL-,2025-11-10,None,0
119,NaN,None,None,2025-10-28,NaN,NaN,NaN,NaN,Avalum Naanum,Vijay Yesudas,Achcham Yenbadhu Madamaiyada,spotify:track:3cbNkWW8PShnP2CexDqOCP,-ALL-,2025-11-10,None,0
120,NaN,None,None,2025-11-06,NaN,NaN,NaN,NaN,Rasaali,Sathyaprakash,Achcham Yenbadhu Madamaiyada,spotify:track:4ymjOYfSLXBtoVu1H1WZla,-ALL-,2025-11-10,None,0

In [25]:
with open('Spotify Account Data/SearchQueries.json', 'r') as f:
    data = json.load(f)

df_searchquery = pd.DataFrame(data)
df_searchquery

,platform,searchTime,searchQuery,searchInteractionURIs
0,,2025-08-16T01:55:26.701Z[UTC],M,[]
1,,2025-08-16T01:55:26.853Z[UTC],Ms,[]
2,,2025-08-16T01:55:27.613Z[UTC],a,[]
3,,2025-08-16T01:55:27.825Z[UTC],am,[]
4,,2025-08-16T01:55:27.880Z[UTC],ame,[]
...,...,...,...,...
467,,2025-11-10T18:07:59.986Z[UTC],kun fay,[]
468,ANDROID,2025-11-10T18:20:18.194Z[UTC],arab,[spotify:track:7JqpYvigO9X4QY3W9QTArZ]
469,,2025-11-10T18:20:18.276Z[UTC],a,[]
470,,2025-11-10T18:20:18.492Z[UTC],ar,[]
471,,2025-11-10T18:20:18.812Z[UTC],ara,[]

In [ ]:
with open('Spotify Account Data/YourLibrary.json', 'r') as f:
    data = json.load(f)

df_tracks_mylibrary = pd.DataFrame(data['tracks'])
df_albums_mylibrary = pd.DataFrame(data['albums'])
df_shows_mylibrary = pd.DataFrame(data['shows'])

In [ ]:
with open('Spotify Account Data/StreamingHistory_music_0.json', 'r') as f:
    data = json.load(f)s

df_streaminghistory_music = pd.DataFrame(data)
df_streaminghistory_music

,endTime,artistName,trackName,msPlayed
0,2024-11-13 01:28,James Smith,Tell Me That You Love Me,65944
1,2024-11-13 01:33,Dua Lipa,Levitating (feat. DaBaby),203064
2,2024-11-13 01:37,Sid Sriram,"Parayuvaan - From ""Ishq""",277346
3,2024-11-13 01:41,Shakira,"Whenever, Wherever",196160
4,2024-11-13 01:44,Murugavel,Thangamey,179923
...,...,...,...,...
7929,2025-11-11 15:19,Haricharan,Arabu Naadu,9419
7930,2025-11-11 15:25,Haricharan,Arabu Naadu,322013
7931,2025-11-11 15:28,Sid Sriram,Uyire,199922
7932,2025-11-11 15:30,Yuvan Shankar Raja,Engeyo Paartha,90982
7933,2025-11-11 15:42,Keethan,Kanave,9720

In [ ]:
with open('Spotify Account Data/YourSoundCapsule.json', 'r') as f:
    data = json.load(f)

stats = data["stats"]

# --------------------------------------
# DAILY SUMMARY
# --------------------------------------
df_daily = pd.DataFrame(stats)
display(df_daily)

# --------------------------------------
# TOP TRACKS (with metadata prefix)
# --------------------------------------
df_top_tracks = pd.json_normalize(
    stats,
    record_path="topTracks",
    meta=["date", "streamCount", "secondsPlayed"],
    meta_prefix="day_"
)

display(df_top_tracks)

# --------------------------------------
# TOP ARTISTS (with metadata prefix)
# --------------------------------------
df_top_artists = pd.json_normalize(
    stats,
    record_path="topArtists",
    meta=["date", "streamCount", "secondsPlayed"],
    meta_prefix="day_"
)

display(df_top_artists)

# --------------------------------------
# TOP GENRES
# --------------------------------------
df_top_genres = pd.json_normalize(
    stats,
    record_path="topGenres",
    meta=["date", "streamCount", "secondsPlayed"],
    meta_prefix="day_"
)

display(df_top_genres)

,date,streamCount,secondsPlayed,topTracks,topArtists,topGenres,timeOfDayStats
0,2025-11-03,0,0,"[{'name': 'Yaarumillaa - Tamil', 'streamCount'...","[{'name': 'Sid Sriram', 'streamCount': 5, 'sec...",[],NaN
1,2025-10-20,0,0,"[{'name': 'Kaalathukkum Nee Venum - From ""Vend...","[{'name': 'A.R. Rahman', 'streamCount': 3, 'se...",[],NaN
2,2025-10,262,55026,"[{'name': 'Oh Oh (From ""Thanga Magan"") - The F...","[{'name': 'Anirudh Ravichander', 'streamCount'...","[{'name': 'pop', 'streamCount': 65, 'secondsPl...","[{'period': 'afternoon', 'secondsPlayed': 2350..."
3,2025-09,427,90244,"[{'name': 'Arabu Naadu', 'streamCount': 11, 's...","[{'name': 'A.R. Rahman', 'streamCount': 52, 's...","[{'name': 'pop', 'streamCount': 60, 'secondsPl...","[{'period': 'early_morning', 'secondsPlayed': ..."
4,2025-08,550,120395,"[{'name': 'Yaarumillaa - Tamil', 'streamCount'...","[{'name': 'Olivia Rodrigo', 'streamCount': 44,...","[{'name': 'pop', 'streamCount': 78, 'secondsPl...","[{'period': 'late_evening', 'secondsPlayed': 2..."
5,2025-07,966,221091,"[{'name': 'Minnalvala', 'streamCount': 11, 'se...","[{'name': 'A.R. Rahman', 'streamCount': 101, '...","[{'name': 'pop', 'streamCount': 89, 'secondsPl...","[{'period': 'late_evening', 'secondsPlayed': 3..."
6,2025-06,457,103360,"[{'name': 'Muththa Mazhai', 'streamCount': 11,...","[{'name': 'A.R. Rahman', 'streamCount': 103, '...","[{'name': 'pop', 'streamCount': 36, 'secondsPl...","[{'period': 'late_evening', 'secondsPlayed': 5..."
7,2025-05,752,168018,"[{'name': 'Nallai Allai', 'streamCount': 14, '...","[{'name': 'Anirudh Ravichander', 'streamCount'...","[{'name': 'pop', 'streamCount': 123, 'secondsP...","[{'period': 'late_evening', 'secondsPlayed': 1..."
8,2025-04,974,212278,"[{'name': 'drivers license', 'streamCount': 11...","[{'name': 'Olivia Rodrigo', 'streamCount': 86,...","[{'name': 'pop', 'streamCount': 220, 'secondsP...","[{'period': 'late_evening', 'secondsPlayed': 1..."
9,2025-03,681,150829,"[{'name': '1 step forward, 3 steps back', 'str...","[{'name': 'Olivia Rodrigo', 'streamCount': 141...","[{'name': 'pop', 'streamCount': 185, 'secondsP...","[{'period': 'late_evening', 'secondsPlayed': 3..."
10,2025-02,677,148389,"[{'name': 'Ennadi Maayavi Nee (From ""VadaChenn...","[{'name': 'Sid Sriram', 'streamCount': 133, 's...","[{'name': 'pop', 'streamCount': 88, 'secondsPl...","[{'period': 'afternoon', 'secondsPlayed': 5881..."
11,2025-01,401,87286,"[{'name': 'Katchi Sera - From ""Think Indie""', ...","[{'name': 'Anirudh Ravichander', 'streamCount'...","[{'name': 'dappankuthu', 'streamCount': 49, 's...","[{'period': 'early_morning', 'secondsPlayed': ..."
12,2024-12,329,70600,"[{'name': 'jealousy, jealousy', 'streamCount':...","[{'name': 'Olivia Rodrigo', 'streamCount': 73,...","[{'name': 'pop', 'streamCount': 93, 'secondsPl...","[{'period': 'late_evening', 'secondsPlayed': 4..."

,name,streamCount,secondsPlayed,day_date,day_streamCount,day_secondsPlayed
0,Yaarumillaa - Tamil,3,484,2025-11-03,0,0
1,Rasaali,1,338,2025-11-03,0,0
2,Kaattumalli,1,306,2025-11-03,0,0
3,"Yaaraiyum Ivlo Azhaga (From ""SULTHAN"")",1,298,2025-11-03,0,0
4,Dandelions - slowed + reverb,1,268,2025-11-03,0,0
...,...,...,...,...,...,...
125,happier,4,700,2024-12,329,70600
126,good 4 u,4,695,2024-12,329,70600
127,"1 step forward, 3 steps back",4,652,2024-12,329,70600
128,"All I Want - From ""High School Musical: The Mu...",4,613,2024-12,329,70600
129,bad idea right?,4,519,2024-12,329,70600

,name,streamCount,secondsPlayed,day_date,day_streamCount,day_secondsPlayed
0,Sid Sriram,5,911,2025-11-03,0,0
1,Olivia Rodrigo,3,607,2025-11-03,0,0
2,Radhan,3,484,2025-11-03,0,0
3,Ghibran,2,337,2025-11-03,0,0
4,Sathyaprakash,1,338,2025-11-03,0,0
...,...,...,...,...,...,...
125,Yuvan Shankar Raja,11,2533,2024-12,329,70600
126,Dhibu Ninan Thomas,10,2485,2024-12,329,70600
127,A.R. Rahman,8,2009,2024-12,329,70600
128,Hiphop Tamizha,6,1433,2024-12,329,70600
129,Sean Roldan,6,1354,2024-12,329,70600

,name,streamCount,secondsPlayed,day_date,day_streamCount,day_secondsPlayed
0,pop,65,12406,2025-10,262,55026
1,american pop,25,4834,2025-10,262,55026
2,roots,20,4040,2025-10,262,55026
3,uk pop,7,1694,2025-10,262,55026
4,art pop,5,1277,2025-10,262,55026
...,...,...,...,...,...,...
95,bubblegum pop,9,1432,2024-12,329,70600
96,mellow pop,5,1177,2024-12,329,70600
97,uk pop,5,894,2024-12,329,70600
98,new beat,3,769,2024-12,329,70600
99,american pop,4,650,2024-12,329,70600